In [6]:
import pandas as pd

pathfile = '/Users/corentin/Documents/ML/1_data/home-data-for-ml-course/test.csv'

df = pd.read_csv(pathfile)

df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [19]:
df_analysis = pd.DataFrame( index = df.columns)

In [39]:
df_analysis['Missing values rate'] = 1 - df.count()/len(df)
df_analysis['Types'] = df.dtypes
df_analysis['Number of different values'] = [len(df[feature].unique())  for feature in df.columns]
df_analysis['Number of NaN values'] = [ df[features].isnull().sum() for feature in df.columns]

NameError: name 'features' is not defined

In [36]:
df_analysis.head()

             Missing values rate    Types  Number of different values
Id                      0.000000    int64                        1459
MSSubClass              0.000000    int64                          16
MSZoning                0.002742   object                           6
LotFrontage             0.155586  float64                         116
LotArea                 0.000000    int64                        1106

In [38]:
!rm data_analysed.csv

df_analysis.to_csv('data_analysed.csv')

rm: data_analysed.csv: No such file or directory